In [2]:
import pandas as pd
import numpy as np
import csv
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix  
from sklearn import svm

In [3]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/heart/heart.dat"
colnames = ['x1', 'x2', 'x3','x4','x5','x6','x7','x8','x9','x10','x11','x12','x13','y']
data = pd.read_csv(url, sep = ' ', header = None, names = colnames)

In [4]:
data.dtypes

x1     float64
x2     float64
x3     float64
x4     float64
x5     float64
x6     float64
x7     float64
x8     float64
x9     float64
x10    float64
x11    float64
x12    float64
x13    float64
y        int64
dtype: object

In [5]:
data.loc[data.y == 2, 'y'] = 0

In [6]:
data.head()

     x1   x2   x3     x4     x5   x6   x7     x8   x9  x10  x11  x12  x13  y
0  70.0  1.0  4.0  130.0  322.0  0.0  2.0  109.0  0.0  2.4  2.0  3.0  3.0  0
1  67.0  0.0  3.0  115.0  564.0  0.0  2.0  160.0  0.0  1.6  2.0  0.0  7.0  1
2  57.0  1.0  2.0  124.0  261.0  0.0  0.0  141.0  0.0  0.3  1.0  0.0  7.0  0
3  64.0  1.0  4.0  128.0  263.0  0.0  0.0  105.0  1.0  0.2  2.0  1.0  7.0  1
4  74.0  0.0  2.0  120.0  269.0  0.0  2.0  121.0  1.0  0.2  1.0  1.0  3.0  1

In [7]:
X = data.drop('y', axis = 1)
y = data['y']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

In [8]:
classifier = svm.SVC(
    C=1.0,
    kernel='rbf',
    gamma=1.0,
    probability=False,
    shrinking=True,
    tol=1e-3,
    verbose=False,
    max_iter=-1,
    decision_function_shape=None,
    random_state=None)

classifier.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma=1.0, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [10]:
y_pred = classifier.predict(X_test)
print(confusion_matrix(y_test,y_pred))

[[ 0 21]
 [ 0 33]]

In [16]:
X_test.head()

       x1   x2   x3     x4     x5   x6   x7     x8   x9  x10  x11  x12  x13
30   57.0  1.0  3.0  128.0  229.0  0.0  2.0  150.0  0.0  0.4  2.0  1.0  7.0
116  46.0  1.0  4.0  120.0  249.0  0.0  2.0  144.0  0.0  0.8  1.0  0.0  7.0
79   56.0  1.0  2.0  120.0  236.0  0.0  0.0  178.0  0.0  0.8  1.0  0.0  3.0
127  52.0  0.0  3.0  136.0  196.0  0.0  2.0  169.0  0.0  0.1  2.0  0.0  3.0
196  58.0  0.0  4.0  100.0  248.0  0.0  2.0  122.0  0.0  1.0  2.0  0.0  3.0

In [58]:
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)